table {
    width: 100%;
    border-collapse: collapse;
}
tr:nth-child(even)
{
    background-color: gainsboro;
}
th,td
{
    text-align: center;
    border: 1px dotted gray;
}
.row1{
    color: #041EFC;
    
}
.row2{
    color: #D604FC;
}